@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  font-family: sans-serif;
  text-align: center;
}
.vertical-timeline::before {
  /* this is the vertical line */
  background: black !important;
}
.vertical-timeline {
  /* this is the circle */
  padding: 0 !important;
}
.loader {
  border-top-color: #c02f16;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@layer base {
  h1 {
    @apply text-3xl py-3 font-bold;
  }

  h2 {
    @apply text-2xl py-3 font-bold;
  }

  h3 {
    @apply text-lg;
  }
}
