@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  font-family: sans-serif;
  text-align: center;
}
.vertical-timeline::before {
  /* this is the vertical line */
  background: black !important;
}
.vertical-timeline {
  /* this is the circle */
  padding: 0 !important;

}

@layer base {
  h1 {
    @apply text-3xl py-3 font-bold;
  }

  h2 {
    @apply text-2xl py-3 font-bold;
  }

  h3 {
    @apply text-lg;
  }
}
